#container {
    width: 1000px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

.header_footer {
    border: 2px solid #05A9E1;
    border-radius: 10px;
    background-color: #3E4D5B;
    padding: 20px;
}

header img {
    width: 200px;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    color: white;
    text-align: center;
    margin-left: 50px; 
    font-size: 25px;
}


main {
    background-color: white;  
    height: auto; 
}

form {
    padding: 20px;
    margin: auto;
    width: 600px;
}

#forms {
    border: 2px solid #05A9E1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


label {
    display: table-cell;
    text-align: right;
    margin: 5px;
    vertical-align: middle;
}

input, textarea, select {
    display: table-cell;
    margin: 5px;
    width: 300px;
}

#row {
    display:table-row;
    margin: 5px;
/*    padding: 5px;*/
}

#button {
    border: none;
    padding: 10px 30px;
    color: white;
    background-color: #F78723;
    border-radius: 10px;
}

footer {
    text-align: right;
}

footer h3 {
    margin-right: 20px;
    display: inline-block;
    width: 200px;
    color: #05A9E1;
    vertical-align: bottom;  
}